# Ignore OS Specific files
.DS_Store

# Ignore the SASS cache
.sass-cache

# Logs
logs
*.log

# Ignore secrets.json
secrets.json

# Ignore build directory
build

# Ignore copyright webfonts
dev/extra/fonts

# Ignore scrap folders
scrap

# Ignore media audio, images, and videos
dev/media/audio
dev/media/images
dev/media/videos

# Ignore vendor scripts
dev/scripts/vendor

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Temp ignore for sassdocs
sassdoc
