{
  "extends": [
    "stylelint-config-shopify/prettier"
  ],
  "rules": {
    "comment-empty-line-before": null,
    "scss/double-slash-comment-empty-line-before": null,
    "scss/operator-no-unspaced": null
  }
}
