// ==|== components > page =====================================================
// =============================================================================

// Page
// -----------------------------------------------------------------------------
::selection {
  color: color(sky, light);
  background-color: color(slate, darker);
}

html {
  font-family: font-family();
}
