// ==|== themes > shopify-core > duration ======================================
// =============================================================================

// Durations
// -----------------------------------------------------------------------------
$shopify-core-duration-data: (
  fastest: 30ms,
  faster: 60ms,
  fast: 120ms,
  base: 240ms,
  slow: 480ms,
  slower: 960ms,
  slowest: 1920ms,
);
