////
/// Shopify Core Theme
/// Font Stack
////

$shopify-core-font-stack-data: (
  base: #{
    -apple-system,
    'BlinkMacSystemFont',
    'San Francisco',
    'Roboto',
    'Segoe UI',
    'Helvetica Neue',
    sans-serif
  },
  monospace: #{
    Monaco,
    Consolas,
    'Lucida Console',
    monospace
  },
);
