// ==|== themes > shopify-core > radius ========================================
// =============================================================================

// Border radius
// -----------------------------------------------------------------------------
$shopify-core-radius-data: (
  tight: 0.1rem,
  base: 0.3rem,
  loose: 0.6rem,
);
