<header id="SectionHeader" class="section section--header">
  <article class="page-container text-center">
    <h1 class="heading heading--1">SCSS Foundation</h1>
    <h2 class="heading heading--2">a expertimental proposal</h2>

    <div class="button-container button-container--centered">
      <a href="#" class="button button--header" title="This is a title">
        <div class="button-interior">
          <span class="button-text">link tag</span>
        </div>
      </a>

      <button class="button button--header" type="button">
        <div class="button-interior">
          <div class="svg-container button-icon logo-github">
            <svg class="svg-asset" viewBox="0 0 64 64">
              <use xlink:href="SVGLogoGithub"></use>
            </svg>
          </div>

          <span class="button-text">button tag</span>
        </div>
      </button>
    </div>
  </article>
</header>
