<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- use some kind of conditional and string variable -->
  <title>Threads - Shopify SCSS Foundation</title>

  <!-- should also accept some kind of string variable -->
  <meta name="description" content="Enter a description">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="assets/css/styles.min.css">

  <!-- inject:head:html --><!-- endinject -->
</head>
