// ==|== component: content ====================================================
// =============================================================================

// Main content styles
// -----------------------------------------------------------------------------
.typography {
  p {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.4;
  }
}
