// ==|== component: fonts ======================================================
// =============================================================================

// Custom web fonts
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'font-name';
  src: path-to-asset(fonts, 'font-name_reg.woff2') format('woff2'),
       path-to-asset(fonts, 'font-name_reg.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: 'font-name';
  src: path-to-asset(fonts, 'font-name_bold.woff2') format('woff2'),
       path-to-asset(fonts, 'font-name_bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}
