// ==|== component: icon =======================================================
// =============================================================================

// Classes for all SVGs
// -----------------------------------------------------------------------------
a.svg-container {
  display: block
}

.svg-container {
  .svg-asset {
    width: 100%;
    height: 100%
  }
}

.svg-asset {
  fill: currentColor;
}
